<!DOCTYPE html>
<html lang="en">
<head>
   <%-include('../partials/head')%>
</head>
<body>
 <%-include('../partials/header')   
 
    <img src="<%= `https://image.tmdb.org/t/p/w200/${myData.poster_path}`%>"/>
    <% myData.forEach((item)=>{ %>
           <ul>
    <li><%= item.title  %> </li>
        <li><%= item.overview%></li>
        <%  }) %> 
    </ul>
    </body> 
    
</html>